<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <h5>Share beautiful pictures you took or something interesting that happened during your visit!</h5>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Tracks of Parks you have been to</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>
<!---
<html>
<body background = "national-parks.jpg">
</body>
</html>
-->

<div class="center jumbotron">
  <h1>Welcome to ViewFinder!</h1>

  <h2>
    Provided by TEAM6 :)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <!---<%= link_to "Find a park", parks_path, class: "btn btn-lg" %> -->

</div>

<%= link_to image_tag("national-parks.jpg", alt: "park-pic") %>
<% end %>
