
<h1>Listing Parks</h1>

<%= link_to 'New Park', new_park_path %>

<table>
  <tr>
    <th>Park Name&nbsp </th>
    <th>Latitude&nbsp </th>
    <th>Longitude&nbsp </th>
    <th>Address</th>
    <th>Safety and Cleanliness&nbsp &nbsp</th>
    <th>Information&nbsp </th>
    <th colspan="20"></th>
  </tr>

  <% @parks.each do |park| %>
    <tr>
      <td><%= park.park_name %></td>
      <td><%= park.latitude %></td>
      <td><%= park.longitude %></td>
      <td><%= park.address %></td>
      <td><%= park.safety_and_cleanliness %></td>
      <!---<td><%= park.general_information%></td>-->
      <td>
        <p id="parkID"></p>
        <script type="text/javascript">
          var parkInformation = "<%=park.general_information%>"
          function shorten(information){
            if(information.length < 110){
              return information;
            }
            else{
              var newInfo = "", i;
              for (i=0; i<110; i++){
                newInfo = newInfo + information.charAt(i);
              }
              newInfo = newInfo + "<b>...</b>";
              return newInfo;
              }
          }
          var i = 0;
          var prefix = "parkID";
          var newID = "parkID";
          while (document.getElementById(newID) != null){
            newID = prefix + i;
            i++;
          }
          var change = document.getElementById('parkID');
          change.id = newID;
          //document.write(shorten(parkInformation));
          document.getElementById(newID).innerHTML = shorten(parkInformation);
        </script>
      </td>

      <td>
        <%= link_to 'Show', park_path(park) %>
        <%= link_to 'Edit', edit_park_path(park) %><br>
        <%= link_to 'Destroy', park_path(park), method: :delete, data: {confirm: 'Are you sure?' } %>
      </td>

      <!--<th colspan="10"></th> -->
      <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 35%;">
      </colgroup>

<!---
      <td><%= link_to 'Show', park_path(park) %></td>
      <td><%= link_to 'Edit', edit_park_path(park) %></td>
      <td><%= link_to 'Destroy', park_path(park), method: :delete, data: {confirm: 'Are you sure?' } %></td>
-->
    </tr>
  <% end %>
</table>
