<p>
	<strong><big>Park:</big></strong>
	<%= @park.park_name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @park.address %>
</p>

<p>
	<strong>Park Information:</strong>
	<%= @park.general_information %>
</p>

<p>
	<strong>Saftey and Cleanliness:</strong>
	<%= @park.safety_and_cleanliness %>
</p>

<h2><big><strong> Park Comments</strong></big></h2>
<%= render @park.park_comments %>


<h2>Add a park comment:</h2>
<%= render 'park_comments/form' %>



<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= @park.latitude%>,lng: <%= @park.longitude%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8fd4QdbBiYLZYAl8eptse7cNFImdIgjU&callback=initMap">
    </script>
  </body>
</html>
