<p>
	<strong><big>Park:</big></strong>
	<%= @park.park_name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @park.address %>
</p>

<p>
	<strong>Park Information:</strong>
	<%= @park.general_information %>
</p>

<p>
	<strong>Saftey and Cleanliness:</strong>
	<%= @park.safety_and_cleanliness %>
</p>

<h2><big><strong> Park Comments</strong></big></h2>
<%= render @park.park_comments %>


<h2>Add a park comment:</h2>
<%= render 'park_comments/form' %>



<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
