<p>
	<strong><big>Park:</big></strong>
	<%= @park.PARK_NAME %>
</p>
<!--
<p>
	<strong>LATITUDE:</strong>
	<%= @park.LATITUDE %>
</p>

<p>
	<strong>LONGITUDE:</strong>
	<%= @park.LONGITUDE %>
</p>

<p>
	<strong>ADDRESS:</strong>
	<%= @park.ADDRESS %>
</p>

<p>
	<strong>URL:</strong>
	<%= @park.URL %>
</p>
-->
<p>
	<strong>url:</strong>
	<%= @park.URL %>
	<!--<h><%= link_to @park.URL, @park %></h> -->
</p>


<h2><big><strong> Park Comments</strong></big></h2>
<%= render @park.park_comments %>


<h2>Add a park comment:</h2>
<%= render 'park_comments/form' %>



<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
