<p>
	<strong><big>Park:</big></strong>
	<%= @park.park_name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @park.address %>
</p>

<p>
	<strong>Park Information:</strong>
	<%= @park.general_information %>
</p>

<p>
	<strong>Saftey and Cleanliness:</strong>
	<%= @park.safety_and_cleanliness %>
</p>

<!--- Google Maps Integration with User Location Added -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
	      function initMap() {
					var parkLocation = {lat: <%= @park.latitude %>, lng: <%= @park.longitude %>};
        	var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: parkLocation
        });
        var marker = new google.maps.Marker({
          position: parkLocation,
          map: map
        });
	        var infoWindow = new google.maps.InfoWindow({map: map});


	        if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var pos = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };

	            infoWindow.setPosition(pos);
	            infoWindow.setContent('Your Location');
	            map.setCenter(pos);
	          }, function() {
	            handleLocationError(true, infoWindow, map.getCenter());
	          });
	        }
	      }

	      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	        infoWindow.setPosition(pos);
	        infoWindow.setContent(browserHasGeolocation ?
	                              'Error: Cannot find where you are!' :
	                              'Error: Your browser doesn\'t support geolocation.');
	      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8fd4QdbBiYLZYAl8eptse7cNFImdIgjU&callback=initMap">
    </script>
  </body>
</html>

<h2><big><strong> Park Comments</strong></big></h2>
<%= render @park.park_comments %>

<h2 style="text-align:left">Add a park comment:</h2>
<%= render 'park_comments/form' %>


<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
