
<h1>Users#new</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <%= f.submit %>
<% end %>
