<!DOCTYPE html>
<html>
  <head>
	<title>Viewfinder, by Team6</title>
		<%#= old title line below, dunno if it's removable yet %>
   		<%#= <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
		<% flash.each do |message_type, message| %>
		        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
		<% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  <!--- Below commented line should be the debug box that appeared at the bottom of every page -->
	 <!---  <%= debug(params) if Rails.env.development? %> -->
    </div>
  </body>
</html>
